name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir:
          - 1.12-slim   # otp 24
          - 1.11-slim   # otp 23
          - 1.10-slim   # otp 22
    container:
      image: elixir:${{ matrix.elixir }}
    steps:
    - uses: actions/checkout@v2
    - name: Install Dependencies
      env:
        MIX_ENV: test
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      run: mix test --trace
